html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1 0 auto;
}


.header-container {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
}

.logo {
    text-decoration: none;
    color: #333;
    transition: transform 0.2s ease-in-out;
}

.logo:hover {
    transform: scale(1.05);
}

nav a {
    margin-left: 1rem;
    text-decoration: none;
    color: #666;
    position: relative;
    transition: color 0.2s ease-in-out;
}

nav a:hover, nav a.active {
    color: #333;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #333;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav a:hover::after, nav a.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f8f9fa;
    flex-shrink: 0;
}
